@media (max-width: 1440px) {
  body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
  }
  .mynavbar {
    position: fixed;
    height: 200px;
    top: 0px;
    width: 100%;
  }
  .decolor {
    color: rgb(171, 186, 22);
    font-size: 25px;
    font-weight: bold;
  }

  /* dropdown navbar starts here */
  nav {
    display: flex;
    justify-content: center;
  }
  nav > .dropdown {
    margin-right: 15px;
  }
  .btn {
    background-color: white;
    color: black;
    border: none;
  }
  .btn:hover {
    background-color: white;
    color: black;
    border: none;
  }
  .home {
    padding-top: 5px;
    margin-right: 15px;
  }
  .home a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    /* text-decoration: overline; */
  }

 

  /* dropdown navbar ends here */
  .nav_top {
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* padding-left: 40px; */
  }
  h6 span {
    margin-left: 600px;
  }
  h6 {
    margin: 4px 30px;
  }

  .nav_botom {
    display: flex;
    padding: 20px 30px;
    background-color: white;
  }
  .divlogo {
    margin-right: 300px;
  }
  .divlink {
    margin-left: 150px;
  }
  .divlink a {
    text-decoration: none;
    color: rgb(162, 162, 162);
    margin-right: 15px;
  }

  .background {
    position: relative;
    background-image: url("../images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 400px;
    z-index: -1;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.8);
    padding-left: 150px;
    /* background-size: cover; */
    padding-bottom: 20px;
    padding-right: 120px;
    padding-top: 150px;
    font-size: larger;
    height: 400px;
  }

  button {
    background-color: rgb(171, 186, 22);
    color: white;
    border: none;
    border-radius: 5%;
    width: 130px;
    height: 30px;
    cursor: pointer;
  }
  button:hover {
    background-color: white;
    color: rgb(162, 162, 162);
  }
  .network {
    display: flex;
    height: 110px;
    background-color: #e0f3db;
    padding: 5px 100px;
    justify-content: space-between;
  }
  .downarrow {
    margin-left: 300px;
    padding-top: 50px;
  }
  .downarrow a {
    text-decoration: none;
    color: rgb(171, 186, 22);
    font-size: 50px;
    font-weight: bold;
  }
  .Finance {
    display: flex;
    justify-content: space-between;
    padding: 80px;
  }
  .left_midle {
    display: flex;
    font-weight: bold;
  }

  .midle_botom {
    display: flex;
    font-weight: bold;
  }
  .midle_left_1 {
    margin-right: 50px;
    width: 50%;
  }
  .midle_botom_1 {
    margin-right: 50px;
    width: 50%;
  }
  .main_div {
    display: flex;
    padding: 80px;
    background-color: #e0f3db;
  }
  .main_div p {
    text-align: left;
  }
  .onin_bags {
    margin-right: 30px;
  }

  .midle_items {
    display: flex;
    justify-content: space-between;
  }
  .botom_items {
    display: flex;
    justify-content: space-between;
  }
  .technologyArea {
    display: flex;
    padding: 100px;
    /* background-image: url("https://i.pinimg.com/originals/f7/73/a2/f773a20261696f609fd4fb6f99e871e0.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
  }
  .technologytext p {
    width: 70%;
  }

  .tec_mid_items {
    display: flex;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    width: 70%;
  }
  .tec_botom_items {
    display: flex;
    text-align: left;
    font-size: 20px;
    width: 70%;
  }
  .tec_mid_item1 {
    margin-right: 40px;
  }
  .tec_botom_item1 {
    margin-right: 40px;
  }

  .overlay_2 {
    background: rgba(0, 0, 0, 0.8);
    padding-left: 100px;
    /* background-size: cover; */
    padding-bottom: 20px;
    padding-right: 120px;
    padding-top: 20px;
    font-size: larger;
    color: white;
    /* height: 1100px; */
  }
}
.first_3_div1 {
  margin: 15px;
  border-right: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 5%;
  width: 25%;
}
.first_3_div2 {
  background-color: white;
  margin: 15px;
  border-right: 20px;
  padding: 20px;
  border-radius: 5%;
  width: 25%;
}
.first_3_div3 {
  background-color: white;
  margin: 15px;
  border-right: 20px;
  padding: 20px;
  border-radius: 5%;
  width: 25%;
}

.second_3_div {
  display: flex;
  /* margin-top: 20px;  */
  color: black;
  padding: 20px;
}
.second_3_div1 {
  background-color: white;
  margin: 15px;
  border-right: 20px;
  padding: 20px;
  border-radius: 5%;
  width: 25%;
}
.second_3_div2 {
  background-color: white;
  margin: 15px;
  border-right: 20px;
  padding: 20px;
  border-radius: 5%;
  width: 25%;
}
.second_3_div3 {
  background-color: white;
  margin: 15px;
  border-right: 20px;
  padding: 20px;
  border-radius: 5%;
  width: 25%;
}
.grid_divs {
  /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: black;
}
.map_sec {
  background: #e0f3db;
  width: 100%;
  padding-bottom: 20px;
  padding-right: 120px;
  padding-top: 20px;
  padding-left: 100px;
}
.maparea {
  display: flex;

  margin-top: 60px;
}
.numerical {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.numerical > div {
  width: 60%;
}
.numerical > p {
  font-size: 20px;
}
.naijamap {
  padding-right: 100px;
}

.carousel-inner {
  /* margin-top: 20px; */
  display: flex;

  /* height: 400px;
  width: 100%;
  margin-bottom: 40px; */
}

.carousel-item > img {
  /* height: 70%; */
  /* width: 30%; */
  margin-left: 150px;
  width: 50%;
  margin-bottom: 50px;
  /* position: relative;  */
  z-index: -1;
  border-top: 20px solid #242218;
  border-bottom: 20px solid #242218;
}
.para {
  width: 30%;
  border: 2px solid gray;
  height: 190px;
  border-radius: 5%;
  position: relative;
  top: 200px;

  padding: 10px;
  background-color: white;
  margin-left: 30px;
}

.press-main {
  background: #3a4438;
  width: 100%;
  height: 35rem;
  padding: 50px 150px;
}
.heads {
  display: flex;
  flex-direction: row;
  position: relative;
  background: #3a4438;
  padding: 40px 0px;

  /* background-color: white; */
}

.logo_ {
  width: 25%;
  background-color: white;
  height: 15rem;
  padding: 0 40px;
  border-radius: 3%;

  margin-right: 20px;
}

.logo_ > img {
  width: 70%;
  height: 35%;
  margin: 0 40px;
}
.empty_div {
  background-color: white;
  height: 15rem;
  width: 1.5%;
  border-radius: 3%;

  margin-right: 20px;
}
.full_article {
  display: flex;
  justify-content: space-between;
}

.full_article a {
  color: #3a4438;
  text-decoration: none;
}
.full_article a:hover {
  color: rgb(171, 186, 22);
}
.see_more_stories {
  display: flex;
  width: 14rem;
  height: 30px;
  margin-left: 350px;
  background-color: rgb(171, 186, 22);
  padding-left: 10px;
  border-radius: 5%;
  text-align: center;
  color: white;
}
.see_more_stories a {
  text-decoration: none;
}
.see_more_stories:hover {
  background-color: white;
  color: black;
}
.agribusiness {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxKgPbRsH_x9lx9cYVZCfS8Qj30BUoRiFiiA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  background-position: 80% 50%;
}
.section_container {
  padding: 30px 150px;
}
.section_container > h2 {
  color: white;
  font-size: 2rem;
}

.section_container button {
  height: 40px;
  width: 15%;
  color: white;
  background-color: rgb(171, 186, 22);
}

.section_container button:hover {
  background-color: white;
  color: rgb(171, 186, 22);
}
a {
  text-decoration: none;
}
.footer_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer_grid a {
  color: black;
}
.footer_grid a:hover {
  color: rgb(171, 186, 22);
}
.footer_container {
  padding: 30px 60px;
}
ul {
  list-style-type: none;
}
}